.dark {
  #contact {
    background-color: var(--hb-dark-bg) !important;
    h1, p {
      color: var(--hb-dark-text) !important;
    }
    a[href^="mailto:"], a[href^="tel:"] {
      color: var(--bs-link-color) !important;
    }
  }

  #resume-block {
    background-color: var(--hb-dark-bg) !important;
    h1, p {
      color: var(--hb-dark-text) !important;
    }
  }
}