.universal-wrapper h1 {
  text-align: center;
}

.cta-group {
  justify-content: center;
}

.btn-primary {
  &:hover {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
}