.universal-wrapper h1 {
  text-align: center;
}

.cta-group {
  justify-content: center;
}

.btn-primary {
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

.custom-figure {
  text-align: center;
  img {
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    max-width: 70%;
    margin-bottom: 10px;
  }
  figcaption {
    font-size: 0.9em;
    color: #6c757d;
    .fas {
      margin-right: 8px;
    }
  }
}

#navbar-main {
  background-color: rgba($primary, 0.85) !important;
  transition: background-color 0.3s ease-in-out;
}

#navbar-main:hover {
  background-color: $primary !important;
}

#navbar-main .navbar-brand,
#navbar-main .navbar-nav .nav-link,
#navbar-main .nav-buttons .nav-link {
  transition: color 0.2s ease-in-out;
}

#navbar-main .navbar-brand:hover,
#navbar-main .navbar-nav .nav-link:hover,
#navbar-main .nav-buttons .nav-link:hover {
  color: #FFC107 !important;
}