{{- $view := or .Design.view "custom_view_a" -}}
{{- $tpl  := printf "views/%s.html" $view -}}

{{- $lang := site.Language.Lang -}}
{{- $all := where site.RegularPages "Lang" $lang -}}
{{- $all = where $all "Draft" "!=" true -}}

{{- $folders := .Content.filters.folders | default (slice) -}}
{{- $pages := $all -}}
{{- if gt (len $folders) 0 -}}
  {{- $pages = where $all "Section" "in" $folders -}}
{{- end -}}

{{- $pages = sort $pages "Date" "desc" -}}
{{- $n := or .Content.count 9 -}}

{{- range first $n $pages -}}
  {{ partial $tpl (dict "page" .) }}
{{- end -}}
