<div class="container-fluid section-heading-wrapper text-center">
  <h1 class="section-heading">Contact</h1>
  <p class="section-subtitle">Please feel free to contact me for project collaboration proposals or any other questions.</p>
</div>
<div class="container">
  <div style="margin-top: 1rem;">
    <i class="fas fa-envelope pr-2" aria-hidden="true"></i><a href="mailto:cws1513@jbnu.ac.kr">cws1513@jbnu.ac.kr</a>
  </div>
  <div style="margin-top: 0.5rem;">
    <i class="fas fa-phone pr-2" aria-hidden="true"></i><a href="tel:010-5191-3088">010-5191-3088</a>
  </div>
  <div style="margin-top: 0.5rem; margin-bottom: 2rem;">
    <i class="fas fa-map-marker-alt pr-2" aria-hidden="true"></i>Jenoju
  </div>
  <iframe src="http://googleusercontent.com/maps/google.com/12" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>